---
name: Build & publish container images

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  find-changed-images:
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.set-matrix.outputs.apps }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Collect changed files
        uses: dorny/paths-filter@v2
        id: filter
        with:
          base: "main"
          list-files: json
          filters: |
            changed:
              - added|deleted|modified: 'apps/*/**'

      - name: Set apps Matrix
        if: ${{ steps.filter.outputs.changed == 'true' }}
        id: set-matrix
        run: |
          PATHS='${{ steps.filter.outputs.changed_files }}'
          DATA=$(echo $PATHS | jq -c '. | map(split("/")[1]) | unique')
          echo "apps=$DATA" >> "$GITHUB_OUTPUT"

  build-and-publish-changed-images:
    needs: find-changed-images
    if: ${{ needs.find-changed-images.outputs.apps != '' && toJson(fromJson(needs.find-changed-images.outputs.apps)) != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        app: ${{ fromJSON(needs.find-changed-images.outputs.apps) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Login to ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Container meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}
          tags: |
            type=ref,event=branch
            type=sha,format=long

      - name: Build and push to ghcr
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5
        with:
          context: .
          file: "apps/${{ matrix.app }}/Dockerfile"
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
